<div class="splash">
	<div class="container-fluid splash-background">
		<h1>Welcome to Family Connect</h1>
		<div class="buttons">
			<button id="signUpButton">Sign Up</button>
			<button id="signInButton">Sign In</button>
		</div>
	</div>

	<div class="container-fluid row main">
		<div class="column col-md-3 sign-in inactive">
			<h2>Sign In</h2>
			<form>
				<div>
					<input type="email" id="mail" name="user_mail" placeholder="Email"/>
				</div>
				<div>
					<input id="password" name="userPassword" placeholder="Password"/>
				</div>
				<div class="form-buttons">
					<div>
						<button type="submit">Sign In</button>
					</div>
					<div>
						<button type="button" id="backButton">Back</button>
					</div>
				</div>

			</form>
		</div>

		<div class="column col-md-3 sign-up inactive">
			<h2>Sign Up</h2>
			<form name="signUpForm" id="signUpForm" class="signUpForm" [formGroup]="signUpForm" (ngSubmit)="createUser()" novalidate>
				<div>
					<input type="email" id="userEmail" name="userEmail" placeholder="Email" formControlName="userEmail"/>
				</div>
				<div>
					<input type="text" id="userDisplayName" name="userDisplayName" placeholder="User Name" formControlName="userDisplayName"/>
				</div>
				<div>
					<input type="text" id="userPhoneNumber" name="userPhoneNumber" placeholder="Phone Number" formControlName="userPhoneNumber"/>
				</div>
				<div>
					<input id="userPassword" name="userPassword" placeholder="Password" formControlName="userPassword"/>
				</div>
				<div>
					<input id="userPasswordConfirm" name="userPasswordConfirm" placeholder="Confirm Password" formControlName="userPasswordConfirm"/>
				</div>
				<div>
					<input type="text" id="familyName" name="family-name" placeholder="Family Name" formControlName="userFamilyId"/>
				</div>
				<div class="form-buttons">
					<div>
						<button type="submit">Sign Up</button>
					</div>
					<div>
						<button type="button" id="backButton1">Back</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
