<div class="wrapper">

	<sidebar></sidebar>

	<!-- Page Content -->
	<div class="main container-fluid">
		<!-- Buttons -->
		<div class="buttons">

			<button type="button" id="sidebarCollapse" class="btn toggleButton">
				<i class="fas fa-ellipsis-h"></i>
			</button>


			<div class="configButtons">
				<div class="dropdown">

					<button type="button" id="plusButton" class="btn plusButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-plus"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Edit Event Name</a>
						<a class="dropdown-item" href="#">Edit Event Owner</a>
						<a class="dropdown-item" href="#">Edit Event Description</a>
					</div>
				</div>

				<button type="button" id="settingsButton" class="btn settingsButton">
					<i class="fas fa-cog"></i>
				</button>
			</div>
		</div>

		<!-- Actual content (not sidebar) - edit below -->

		<div class="content container-fluid">
			<div class="event-head">
				<h4>{{event.eventName}}</h4>
				<h6>{{event.eventStartDate | date}} - {{event.eventEndDate | date}}</h6>
			</div>

			<div class="event-body row">
				<div class="event-description-comments col-md-6">
					<div class="event-description">
						<h4>Description</h4>
						<p>{{event.eventContent}}</p>
					</div>

					<div class="event-comments">
						<h4>Comments</h4>

						<div class="comment" *ngFor="let userComment of userComments">
							<p>{{userComment.userDisplayName}}</p>
							<ul>
								<li>{{userComment.comment.commentContent}}</li>
							</ul>
						</div>

						<form class="add-comment container-fluid" [formGroup]="commentOnEventForm" (ngSubmit)="commentOnEvent();" novalidate>
							<div>
								<textarea id="comment" name="eventComment" placeholder="What's on your mind?" formControlName="eventCommentContent"></textarea>
							</div>
							<div class="button">
								<button type="submit">Add comment</button>
							</div>
						</form>
					</div>
				</div>

				<div class="event-tasks col-md-6">
					<h4>Event Tasks</h4>
					<div class="card" *ngFor="let eventTask of eventTasks">
						<div class="card-body">
							<h5 class="card-title">{{eventTask.task.taskName}}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{eventTask.userDisplayName}} <br> Due Date: {{eventTask.task.taskDueDate | date}}</h6>
							<p class="card-text">{{eventTask.task.taskDescription}}</p>
							<a class="btn" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="isCollapsed" aria-controls="collapseExample"><i class="fas fa-comments"></i></a>
							<div class="collapse multi-collapse" id="collapseTask1" [ngbCollapse]="!isCollapsed">
								<div class="card card-body event-task-comment">
									<p>Comment creator</p>
									<ul>
										<li></li>
									</ul>
								</div>
								<!--<form class="add-task-comment container-fluid">-->
									<!--<div>-->
										<!--<textarea id="taskComment1" name="eventTaskComment" class="event-task-comment-textarea" placeholder="What's on your mind?"></textarea>-->
									<!--</div>-->
									<!--<div class="button">-->
										<!--<button type="submit">Add comment</button>-->
									<!--</div>-->
								<!--</form>-->
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>