<div class="wrapper">

	<sidebar></sidebar>

	<!-- Page Content -->
	<div class="main container-fluid">
		<!-- Buttons -->
		<div class="buttons">

			<button type="button" id="sidebarCollapse" class="btn toggleButton">
				<i class="fas fa-ellipsis-h"></i>
			</button>


			<div class="configButtons">
				<div class="dropdown">
					<ng-template #modalContent let-modal>
						<div class="modal-header">
							<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<ngb-tabset>
								<ngb-tab title="Edit Event">
									<ng-template ngbTabContent>
										<form [formGroup]="editEventForm" (submit)="editEvent()" class="modal-form-content" novalidate>
											<input type="text" id="eventNameEdit" placeholder="Change Event Name" formControlName="eventNameEdit" class=" m-3"><br>
											<input type="text" id="evenContentEdit" placeholder="Change Content" formControlName="eventContentEdit" class=" m-3"><br>
											<label for="eventStartEdit">Edit event start date:</label>
											<input type="date" id="eventStartEdit" formControlName="eventStartEdit" class="form-control"><br>
											<label for="eventEndEdit">Edit end start date:</label>
											<input type="date" id="eventEndEdit" formControlName="eventEndEdit" class="form-control">
											<div class="button">
												<button type="submit">Edit Event</button>
											</div>
										</form>
									</ng-template>
								</ngb-tab>
								<ngb-tab title="Add Task">
									<ng-template ngbTabContent>
										<form [formGroup]="addTaskForm" (submit)="addTaskToEvent()" class="modal-form-content">
											<input type="text" id="taskNameInsert" placeholder="Add Task Name" formControlName="taskNameInsert" class=" m-3"><br>
											<input type="text" id="taskDescriptionInsert" placeholder="Add Task Description" formControlName="taskDescriptionInsert" class=" m-3"><br>
											<label for="taskDueDateInsert">Add a due date: </label>
											<input type="date" id="taskDueDateInsert" formControlName="taskDueDateInsert">
											<div class="button">
												<button type="submit">Add Task</button>
											</div>
										</form>
									</ng-template>
								</ngb-tab>
							</ngb-tabset>
						</div>
					</ng-template>

					<button type="button" id="plusButton" class="btn plusButton" (click)="open(modalContent)">
						<i class="fas fa-plus"></i>
					</button>
				</div>

				<div ngbDropdown placement="bottom bottom-right" class="dropdown">
					<button type="button" id="settingsButton" class="btn settingsButton" ngbDropdownToggle>
						<i class="fas fa-cog"></i>
					</button>
					<div ngbDropdownMenu class="mt-5">
						<button class="dropdown-item">Log out</button>
					</div>
				</div>

			</div>
		</div>

		<!-- Actual content (not sidebar) - edit below -->

		<div class="content container-fluid">
			<div class="event-head">
				<h4>{{event.eventName}}</h4>
				<h6>{{event.eventStartDate | date:'medium'}} - {{event.eventEndDate | date:'medium'}}</h6>
			</div>

			<div class="event-body row">
				<div class="event-description-comments col-md-6">
					<div class="event-description">
						<h4>Description</h4>
						<p>{{event.eventContent}}</p>
					</div>

					<div class="event-comments">
						<h4>Comments</h4>

						<div class="comment" *ngFor="let userComment of userComments">
							<p>{{userComment.userDisplayName}}</p>
							<ul>
								<li>{{userComment.comment.commentContent}}</li>
							</ul>
						</div>

						<form class="add-comment container-fluid" [formGroup]="commentOnEventForm" (submit)="commentOnEvent()" novalidate>
							<div>
								<textarea id="comment" name="eventComment" placeholder="What's on your mind?" formControlName="eventCommentContent"></textarea>
							</div>
							<div class="button">
								<button type="submit">Add comment</button>
							</div>
						</form>
					</div>
				</div>

				<div class="event-tasks col-md-6">
					<h4>Event Tasks</h4>
					<div class="card" *ngFor="let eventTask of eventTasks">
						<div class="card-body">
							<h5 class="card-title">{{eventTask.task.taskName}}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{eventTask.userDisplayName}} <br> Due Date: {{eventTask.task.taskDueDate | date}}</h6>
							<p class="card-text">{{eventTask.task.taskDescription}}</p>
							<a class="btn text-primary" (click)="eventTask.isCollapsed = !eventTask.isCollapsed" [attr.aria-expanded]="isCollapsed" aria-controls="collapseExample"><i class="fas fa-comments"></i></a>
							<div class="collapse multi-collapse" id="collapseTask1" [ngbCollapse]="!eventTask.isCollapsed">
								<div *ngFor="let key of objectKeys(kitchenSinks)">
									<div *ngIf="kitchenSinks[key].task.taskId === eventTask.task.taskId">
										<div class="card card-body event-task-comment" *ngFor="let comment of kitchenSinks[key].comments">
											<p> {{comment.userDisplayName}}</p>
											<ul>
												<li>{{comment.comment.commentContent}}</li>
											</ul>
										</div>
									</div>
								</div>

								<form class="add-task-comment container-fluid" [formGroup]="commentOnEventTaskForm" (submit)="commentOnEventTask();" novalidate>
									<div>
										<textarea id="taskComment1" name="eventTaskComment" class="event-task-comment-textarea" placeholder="What's on your mind?" formControlName="eventTaskCommentContent"></textarea>
									</div>
									<div class="button">
										<button type="submit">Add comment</button>
									</div>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>