.wrapper {
	display: flex;
	align-items: stretch;
	font-family: 'Libre Franklin', sans-serif !important;
}

.sidebar {
	min-width: 250px;
	max-width: 25vw;
	min-height: 100vh;
	filter:drop-shadow(1px 0 3px black);
	transition: .3s;
}

.sidebar.active {
	margin-left: -255px;
}

@media (min-width: 768px) {
	.toggleButton {
		display: none;
		transition: .3s;
	}
}

@media (max-width: 768px) {
	#sidebar {
		margin-left: -255px;
	}
	#sidebar.active {
		margin-left: 0;
		transition: .3s;
	}
}

.sidebar ul li.active > a, a[aria-expanded="true"] {
	color: #fff;
	background: #6d7fcc;
}

h3 {
	padding: 2rem 1rem;
}

.content {
	min-height: 100vh;
}

p {
	padding: 2rem;
}

.btn {
	background: none;
	margin-top: .25rem;
}


.toggleButton {
	margin-left: 1rem;
	position: relative;
	top: 0;
	left: 0;
}

.toggleButton.active {
	display: none;
}

.settingsButton {
	margin-right: 1rem;
	position: absolute;
	top: 0;
	right: 0;
}