<div class="wrapper">
	<sidebar></sidebar>

	<!-- Page Content -->
	<div id="main container-fluid">
		<!-- Buttons -->
		<div class="buttons">

			<button type="button" id="sidebarCollapse" class="btn toggleButton">
				<i class="fas fa-ellipsis-h"></i>
			</button>

			<div class="configButtons">
				<button type="button" id="plusButton" class="btn plusButton">
					<i class="fas fa-plus"></i>
				</button>

				<button type="button" id="settingsButton" class="btn settingsButton">
					<i class="fas fa-cog"></i>
				</button>
			</div>
		</div>

		<!-- Actual content (not sidebar) - edit below -->

		<div class="content container-fluid">
			<div class="task-head">
				<h4>{{task.taskName}}</h4>
			</div>

			<div class="task-body row">
				<div class="task-description-comments col-6">
					<div class="task-description">
						<h4>Description</h4>
						<p>{{task.taskDescription}}</p>
					</div>

					<div class="comment" *ngFor="let comment of comments ">
						<p>{{comment.userDisplayName}}</p>
						<ul>
							<li>{{comment.commentContent}}</li>
						</ul>
					</div>

					<!--<form class="add-task-comment container-fluid">-->
					<!--<div>-->
					<!--<textarea id="taskComment" name="TaskComment" class="task-comment-textarea" placeholder="What's on your mind?"></textarea>-->
					<!--</div>-->
					<!--<div class="button">-->
					<!--<button type="submit">Add comment</button>-->
					<!--</div>-->
					<!--</form>-->
				</div>
			</div>

			<div class="task-due-date col-md-6">
				<h4>Due Date</h4>
				<div class="card">
					<div class="card-body">
						{{task.taskDueDate | date}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
