<div class="wrapper">

	<sidebar></sidebar>

	<!-- Page Content -->
	<div class="main container-fluid">
		<!-- Buttons -->
		<div class="buttons">

			<button type="button" id="sidebarCollapse" class="btn toggleButton">
				<i class="fas fa-ellipsis-h"></i>
			</button>


			<div class="configButtons">
				<div class="dropdown">

					<button type="button" id="plusButton" class="btn plusButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-plus"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Edit Task Name</a>
						<a class="dropdown-item" href="#">Edit Task Owner</a>
						<a class="dropdown-item" href="#">Edit Task Description</a>
					</div>
				</div>

				<button type="button" id="settingsButton" class="btn settingsButton">
					<i class="fas fa-cog"></i>
				</button>
			</div>
		</div>

		<!-- Actual content (not sidebar) - edit below -->

		<div class="content container-fluid">
			<div class="task-head">
				<h4>{{task.taskName}}</h4>
			</div>

			<div class="task-body row">
				<div class="task-description-comments col-md-6">
					<div class="task-description">
						<h4> Task Description will go here</h4>
						<p>{{task.taskDescription}}</p>
					</div>

					<div class="comment" *ngFor="let userComment of userComments ">
						<p>{{userComment.userDisplayName}}</p>
						<ul>
							<li>{{userComment.comment.commentContent}}</li>
						</ul>
					</div>

					<form class="add-task-comment container-fluid" [formGroup]="commentOnTaskForm" (ngSubmit)="commentOnTask();" novalidate>
						<div>
							<textarea id="comment" name="taskComment" placeholder="What's on your mind?" formControlName="taskCommentContent"></textarea>
						</div>
						<div class="button">
							<button type="submit">Add comment</button>
						</div>
					</form>
					<div class="card">
						<div class="card-body">
							user comment will go here.
						</div>
					</div>
				</div>

				<div class="task-body row col-md">
					<div class="task-due-date">
						<h4>Due Date</h4>
						<div class="card">
							<div class="card-body">
								{{task.taskDueDate | date}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
