<div class="wrapper">

	<sidebar></sidebar>

	<!-- Page Content -->
	<div id="main container-fluid profile-main">
		<!-- Buttons -->
		<div class="buttons">

			<button type="button" id="sidebarCollapse" class="btn toggleButton">
				<i class="fas fa-ellipsis-h"></i>
			</button>

			<div class="configButtons">
				<button type="button" id="plusButton" class="btn plusButton">
					<i class="fas fa-plus"></i>
				</button>

				<button type="button" id="settingsButton" class="btn settingsButton">
					<i class="fas fa-cog"></i>
				</button>
			</div>
		</div>

		<div class="content container-fluid">
			<div class="profile-head">
				<h4>{{user.userDisplayName}}'s profile</h4>
			</div>
			<!-- View/Edit Credentials -->
			<div class="profile-body row">
				<div class="col">
					<p>Phone Number: {{user.userPhoneNumber}}</p>
					<p>Phone Email: {{user.userEmail}}</p>
					<p>Phone Number: {{user.userPhoneNumber}}</p>
					<div class="userLists">
						<div>
							<h4>Events {{user.userDisplayName}} is attending:</h4>
							<ul *ngFor="let event of events">
								<li>{{event.eventName}}</li>
							</ul>
							<h4>Tasks</h4>
							<ul>
								<li>Task 1</li>
							</ul>
						</div>
					</div>
				</div>

				<!--<form class="container-fluid">-->
					<!--<div class="form-group">-->
						<!--<label for="nameViewEdit">Name</label>-->
						<!--<input type="text" class="form-control" id="nameViewEdit" placeholder="Name">-->
					<!--</div>-->
					<!--<div class="form-group">-->
						<!--<label for="emailViewEdit">Email</label>-->
						<!--<input type="text" class="form-control" id="emailViewEdit" placeholder="Email">-->
					<!--</div>-->
					<!--<div class="form-group">-->
						<!--<label for="UsernameViewEdit">Username</label>-->
						<!--<input type="text" class="form-control" id="UsernameViewEdit" placeholder="Username">-->
					<!--</div>-->
					<!--<div class="form-group">-->
						<!--<label for="PhoneNumberViewEdit">Phone Number</label>-->
						<!--<input type="text" class="form-control" id="PhoneNumberViewEdit" placeholder="Phone Number">-->
					<!--</div>-->
					<!--<h6>Privilege</h6>-->
					<!--<div class="form-check form-check-inline">-->
						<!--<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">-->
						<!--<label class="form-check-label" for="inlineRadio1">0</label>-->
					<!--</div>-->
					<!--<div class="form-check form-check-inline">-->
						<!--<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">-->
						<!--<label class="form-check-label" for="inlineRadio2">1</label>-->
					<!--</div>-->
				<!--</form>-->


			</div>
		</div>
	</div>
</div>